<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/LBHackney-IT/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="humulla" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>

</configuration>