<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="github" value="https://nuget.pkg.github.com/LBHackney-IT/index.json" />
	</config>
	<packageSources>
        <clear />
	</packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="humulla" />
            <add key="ClearTextPassword" value= "%NUGET_KEY%" />
        </github>
    </packageSourceCredentials>
</configuration>